---
layout: default
title: Blog
---

<h1>PowerShell Blog</h1>

<p>I ♥ PS 7.1 > Hello PowerShell enthusiasts</p>

<h2>Read my latest posts</h2>

{% for tag in site.tags %}
  {% if (tag[0]) contains 'News' %}
  <ul>
    {% assign sorted = (tag[1] | sort: 'title') %}
    {% for post in sorted %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
{% endfor %}

<h2>All posts sorted</h2>

{% assign sorted_cats = site.categories | sort %}
{% for category in sorted_cats %}
  <h3>{{ category[0] }}</h3>
  <ul>
    {% assign sorted = (category[1] | sort: 'title') %}
    {% for post in sorted %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}