---
layout: default
---

<h1>{{ page.title }}</h1>

<p>
  {% if post.date %}
    <small><b>published:</b> <em>{{ post.date | date: "%B %-d, %Y" | join: "</em> - <em>" }}</em></small>
  {% endif %}

  {% if page.author %}
    <small><b>author:</b> <em>{{ page.author | join: "</em> - <em>" }}</em></small>
  {% endif %}

  {% if page.tags %}
    <small><b>tags:</b> <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
  {% endif %}

  {% if page.categories %}
    <small><b>categories:</b> <em>{{ page.categories | join: "</em> - <em>" }}</em></small>
  {% endif %}
</p>

<p>
  <hr>
  {{content}}
  <hr>
  <p><small><b>published on </b> <em>{{ post.date | date: "%B %-d, %Y" }}</em><b> by </b> <em>{{ site.github.owner_name }}</em></small></p>
</p>

<footer>
  <small>Copyright © 2024 by {{ site.github.owner_name }}</small>
</footer>