---
layout: default
---

<h1>{{ page.title }}</h1>

<p>
  {% if page.date %}
    <small><b>published:</b> <em>{{ page.date | date: "%B %-d, %Y" | join: "</em> - <em>" }}</em></small>
  {% endif %}

  {% if page.author %}
    <small><b>author:</b> <em>{{ page.author | join: "</em> - <em>" }}</em></small>
  {% endif %}

  {% if page.tags %}
    <small><b>tags:</b> <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
  {% endif %}

  {% if page.categories %}
    <small><b>categories:</b> <em>{{ page.categories | join: "</em> - <em>" }}</em></small>
  {% endif %}
</p>

<div class="container">

  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      <hr>
      {{content}}
      <hr>

    </div>
  </div>
</div>

<div class="container6">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="clearfix">

        {% if page.previous.url %}
        <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" 
          data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous Post | 
        </a>
        {% endif %}

        <a href="{{ page.url }}"> [ Top ] </a>| <em> Copyright © 2024 by {{ site.github.owner_name }} </em> |<a href="/categories.html"> [ Blog ] </a>
        
        {% if page.next.url %}
        <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" 
          data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}"> | Next Post &rarr;
        </a>
        {% endif %}

      </div>
    </div>
  </div>
</div>