<!--
---
layout: default
---

{% for post in site.posts %}

<article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
        <h2 class="post-title">{{ post.title }}</h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
        {% else %}
        <h3 class="post-subtitle">
            {{ post.excerpt | strip_html | truncatewords: 15 }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">
        Posted by {% if post.author %} {{ post.author }} {% else %} {{ site.author
        }} {% endif %} on {{ post.date | date: '%B %d, %Y' }} · {% include
        read_time.html content=post.content %}
    </p>
</article>

<hr />

{% endfor %}
-->
---
layout: default
---

<h1>{{ page.title }}</h1>

<p>
  {% if post.date %}
    <small><b>published:</b> <em>{{ post.date | date: "%B %-d, %Y" | join: "</em> - <em>" }}</em></small>
  {% endif %}

  {% if page.author %}
    <small><b>author:</b> <em>{{ page.author | join: "</em> - <em>" }}</em></small>
  {% endif %}

  {% if page.tags %}
    <small><b>tags:</b> <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
  {% endif %}

  {% if page.categories %}
    <small><b>categories:</b> <em>{{ page.categories | join: "</em> - <em>" }}</em></small>
  {% endif %}
</p>

<p>
  <hr>
  {{content}}
  <hr>
  <p><small><b>published on </b> <em>{{ page.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=page.content %}</em> by </b> <em>{{ site.github.owner_name }}</em></small></p>
  
</p>

<footer>
  <small>Copyright © 2024 by {{ site.github.owner_name }}</small>
</footer>
